* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #a9bd89;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.pokemon .pokemon-number {
    text-align: end;
    font-size: .625rem;
}

.pokemon .pokemon-name {
    color: #FFFFFF;
    margin-bottom: 0.25rem;
}

.pokemon .pokemon-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .pokemon-details .pokemon-types {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon .pokemon-details .pokemon-types .type {
    padding: .25rem 1rem;
    background-color: #8fa170;
    color: #FFFFFF;
    margin: .25rem 0;
    padding: .25rem .5rem;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemon .pokemon-details img {
    max-width: 100%;
    height: 100px;
}