.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.pokemon:hover {
    border: 2px solid white;
}

.pokemon .pokemon-number {
    text-align: end;
    font-size: .625rem;
}

.pokemon .pokemon-name {
    color: #FFFFFF;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.pokemon .pokemon-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .pokemon-details .pokemon-types {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon .pokemon-details .pokemon-types .type {
    padding: .25rem 1rem;
    color: #FFFFFF;
    margin: .25rem 0;
    padding: .25rem .5rem;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;

}

.pokemon .pokemon-details img {
    max-width: 100%;
    height: 100px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    border: none;
    background-color: #6c79db;
    color: #FFF;
    border-radius: 1rem;
    padding: .5rem;
    margin: 0.25rem 0;
    font-size: .825rem;
    cursor: pointer;
}

.pagination button:hover {
    border: 1px solid white;
}

#pokemon-main-details {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 2px solid #1e1e1e;
    border-bottom: none;
}

#pokemon-main-details .pokemon-info .pokemon-name {
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

#pokemon-main-details .pokemon-info .pokemon-types {
    list-style: none;
    padding: 0;
    margin: 0;
}

#pokemon-main-details .pokemon-info .pokemon-types .type {
    padding: .25rem 1rem;
    color: #FFFFFF;
    margin: .25rem 0;
    padding: .25rem .5rem;
    font-size: .8rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;

}

#pokemon-main-details img {
    max-width: 100%;
    height: 150px;
}

#pokemon-main-details .pokemon-base-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
}

#pokemon-main-details .pokemon-base-stats .pokemon-stats-name {
    font-size: .8rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #pokemon-main-details {
        max-width: 576px;
    }
}

/* TYPES COLORS */

.normal {
    background-color: #a8a97b;
    filter: brightness(.9);
}

.fighting {
    background-color: #b53e2e;
    filter: brightness(.9);
}

.flying {
    background-color: #a68ded;
    filter: brightness(.9);
}

.poison {
    background-color: #98419e;
    filter: brightness(.9);
}

.ground {
    background-color: #dbc36f;
    filter: brightness(.9);
}

.rock {
    background-color: #b4a342;
    filter: brightness(.9);
}

.bug {
    background-color: #a9ba34;
    filter: brightness(.9);
}

.ghost {
    background-color: #6e5696;
    filter: brightness(.9);
}

.steel {
    background-color: #b8b7cf;
    filter: brightness(.9);
}

.fire {
    background-color: #e5883c;
    filter: brightness(.9);
}

.water {
    background-color: #708aed;
    filter: brightness(.9);
}

.grass {
    background-color: #85c858;
    filter: brightness(.9);
}

.electric {
    background-color: #f2d445;
    filter: brightness(.9);
}

.psychic {
    background-color: #eb6289;
    filter: brightness(.9);
}

.ice {
    background-color: #a3d6d7;
    filter: brightness(.9);
}

.dragon {
    background-color: #6e22f3;
    filter: brightness(.9);
}

.dark {
    background-color: #6d5949;
    filter: brightness(.9);
}

.fairy {
    background-color: #e59dac;
    filter: brightness(.9);
}